body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.content {
    margin-left: 290px;
}

/* If content isn't middle-aligned  there should be space after the navbar. */
.left-spacing {
    margin-left: 70px;
}
