body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* For hiding & showing the mobile nav-bar */
.hidden-navbar {
    opacity: 0;
    width: 0px;
    position: fixed;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #282b33;
    z-index: 99;
    visibility: hidden;
    transition-property: visibility, opacity, width;
    transition-duration: 0.1s, 0.1s, 0.2s;
    transition-timing-function: cubic-bezier(0.19, 0.75, 0.58, 1), cubic-bezier(0.19, 0.75, 0.58, 1),
        cubic-bezier(0.4, 0, 1, 1);
}
.mobile-navbar {
    position: fixed;
    height: 100vh;
    width: 320px;
    left: 0;
    top: 0;
    background-color: #282b33;
    z-index: 99;
    transition-property: visibility, opacity, width;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1), cubic-bezier(0.4, 0, 1, 1),
        cubic-bezier(0.19, 0.75, 0.58, 1);
}

.hidden {
    visibility: hidden;
}

@media screen and (min-width: 961px) {
    /* Makes room for the navbar on the left. */
    .content {
        margin-left: 290px;
        margin-top: 40px;
    }

    /* If content isn't middle-aligned  there should be space after the navbar. */
    .left-spacing {
        margin-left: 70px;
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 80px, 0);
        z-index: -1;
    }

    to {
        transform: translate3d(0, 0, 0);
        z-index: -1;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 80px, 0);
        z-index: -1;
    }

    to {
        transform: translate3d(0, 0, 0);
        z-index: -1;
        opacity: 1;
    }
}

.animated {
    animation-duration: 1.2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUpImage {
    width: auto;
    height: 800px;
    margin-top: 15vh;
    margin-left: 10vw;
    z-index: -1;
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
